<h2 id="title">Welcome to Ember.js</h2>
{{date-picker date=mydate valueFormat='YYYY-MM-DD' onSelect='dateCalled' outputFormat="This is really %@ cool! "}}
{{mydate}}
<hr>
<hr>
{{date-picker date=mydate2 valueFormat='YYYY-MM-DD' anchorField=true}}
{{mydate2}}
<hr>
<hr>

{{date-picker date=controllerDate valueFormat='YYYY-MM-DD' anchorField=true}}
{{controllerDate}}
<hr>
<hr>
{{#date-picker date=mydate3 valueFormat='YYYY-MM-DD' inputField=false}}
  <p class="">
    <img src="http://www.helpinghomelesscats.com/images/cat1.jpg" alt="" />
  </p>

{{/date-picker}}
{{mydate3}}
{{outlet}}
